<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fingerprintjs.android.clipboard_reader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ClipboardReaderAppTheme">
        <activity
            android:name="com.fingerprintjs.android.clipboard_reader.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.fingerprint.security.research.clipboard.clipboard_history_screen.ClipboardHistoryActivity" />
        <activity
            android:name="com.fingerprintjs.android.clipboard_reader.TermsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <service android:name=".ClipboardReaderForegroundService"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>
</manifest>